*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #225566;
}

.telainicial{
    img{
        width: 100%;
    }
    button{
        float: left;
        margin-left: 130px;
        margin-top: -50px;
        position: relative;
        background-color: #00fdfd;
        font-family: cursive;
        border-radius: 5px;
        border: 3px solid #225566;
        width: 150px;
        height: 30px;
        cursor: pointer;
    }
}

.menu{
    width: 100%;
    height: 35px;
    background-color: #00fdfd;
    margin-top: -3px;
    

    ins{
        float: left;
        margin-left: 95px;
        font-family: cursive;
        margin-top: 5px;
        color: black;
        
    }

}

.meio{
    img{
    float: left;
    margin-left: 10px;
    width: 45%;
    margin-top: 10px;
    }

    h1{
        float: left;
        color: #00fdfd;
        margin-top: 20px;
        margin-left: 750px;
        font-size: 40px;
        margin-top: -460px;
        font-family: sans-serif;
    }

    p{
        float: left;
        color: floralwhite;
        margin-top: 20px;
        margin-left: 750px;
        font-size: 20px;
        margin-top: -400px;
    }

    ul{
        float: left;
        color: floralwhite;
        margin-top: 20px;
        margin-left: 750px;
        font-size: 20px;
        margin-top: -350px; 
    }
}

.meioterror{
    float: left;
    margin-left: 50px;

    img{
        width: 200px;
        height: 250px;
        margin-left: 170px;
        margin-top: 100px;
    }

}

.meioaventura{
    float: left;
    margin-left: 50px;

    img{
        width: 200px;
        height: 250px;
        margin-left: 170px;
        margin-top: 100px;
    }
}

.meioacao{
    float: left;
    margin-left: 50px;

    img{
        width: 200px;
        height: 250px;
        margin-left: 170px;
        margin-top: 100px;
    }
}

.meioestrategia{
    float: left;
    margin-left: 50px;

    img{
        width: 200px;
        height: 250px;
        margin-left: 170px;
        margin-top: 100px;
    }
}

.meiomulti{
    float: left;
    margin-left: 50px;

    img{
        width: 200px;
        height: 250px;
        margin-left: 170px;
        margin-top: 100px;
    }
}

.meiosimulacao{
    float: left;
    margin-left: 50px;

    img{
        width: 200px;
        height: 250px;
        margin-left: 170px;
        margin-top: 100px;
    }
}

.meiofps{
    float: left;
    margin-left: 50px;

    img{
        width: 200px;
        height: 250px;
        margin-left: 170px;
        margin-top: 100px;
    }
}

.meiosobrev{
    float: left;
    margin-left: 50px;

    img{
        width: 200px;
        height: 250px;
        margin-left: 170px;
        margin-top: 100px;
    }
}

#jogoterror{
    h2{
        float: right;
        margin-right: 530px;
        font-size: 20px;
        width: 450px;
        margin-top: 50px;
        color: floralwhite;
    }

    img{
        width: 360px;
    }

    iframe{
        width: 500px;
        height: 300px;
        float: right;
        margin-top: -350px;
    }
}

#jogo11terror{
    h2{
        float: right;
        margin-right: 530px;
        font-size: 20px;
        width: 450px;
        margin-top: 50px;
        color: floralwhite;
    }

    img{
        width: 500px;
        height: 500px;
    }

    iframe{
        width: 500px;
        height: 300px;
        float: right;
        margin-top: -350px;
    }
}

#jogoaventura{
    h2{
        float: right;
        margin-right: 530px;
        font-size: 20px;
        width: 450px;
        margin-top: 50px;
        color: floralwhite;
    }

    img{
        width: 360px;
    }

    iframe{
        width: 500px;
        height: 300px;
        float: right;
        margin-top: -350px;
    }
}